* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Noto Sans TC", sans-serif;
}

body.index {
    height: 100%;
    width: 100%;
    overflow: hidden;
}

body {
    position: relative;
}

.orange {
    height: 150vh;
    width: 55vw;
    top: -15vh;
    right: -5vw;
    position: absolute;
    z-index: -1;
    filter: grayscale(1);
}

header {
    nav {
        height: 15%;
        width: 100%;
        background-color: #7ea098;
        ul {
            padding: 2rem;
            width: 90%;
            display: flex;
            list-style-type: none;
            justify-content: space-around;
            li {
                font-size: 1.75rem;
                a {
                    color: rgba(0, 0, 0, 0.8);
                    text-decoration: none;
                }
                & :hover {
                    color: #fff9ec;
                    margin: 0rem 1rem;
                    transition: all 0.8s ease;
                }
            }
        }
    }
}

main {
    display: flex;
    flex-wrap: wrap;
    section.left {
        width: 50%;
        padding: 3rem;
        h1 {
            font-size: 4rem;
            color: #2f4858e3;
        }
        p {
            font-size: 1.5rem;
            padding: 1rem 1rem;
        }
    }
    section.right {
        flex: 1 1 600px;
        position: relative;
        img {
            border-radius: 50%;
            width: 22vw;
            height: 26vw;
            position: absolute;
            top: 50vh;
            right: 20vw;
            transform: translateY(-55%);
        }
    }

    section.table {
        flex: 3 1 700px;
        padding: 2rem;
        table {
            border-collapse: collapse; /*底線*/
            tr {
                border-bottom: 2px solid gray; /*底線*/
                transition: all 0.2 ease;
                td {
                    padding: 1rem;
                }
                &:hover {
                    background-color: #eedebb;
                }
            }
        }
    }
    section.picture {
        flex: 1 1 600px;
        position: relative;
        margin: 2.2rem;
        padding-left: 2rem;
        img {
            height: 80vh;
            width: 29vw;
        }
        div.orangeRect {
            height: 80vh;
            width: 29vw;
            background-color: #baaa87;
            position: absolute;
            top: 35px;
            left: 90px;
            z-index: -1;
        }
    }
    section.form {
        flex: 1 1 600px;
        form {
            min-height: 70vh;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
            margin-top: 20px;
            div {
                margin: 0.5rem;
                width: 80%;
                label {
                    font-size: 1.5rem;
                    margin-right: 1rem;
                }
                input,
                textarea {
                    width: 80%;
                    background-color: #d2c4a4;
                    color: white;
                    font-size: 1.25rem;
                    padding: 0.5rem 0.25rem;
                    border: none;
                }
                textarea {
                    vertical-align: top; /*需求字 移上去*/
                }
            }

            button {
                align-self: center;
                background-color: #9a8f77;
                color: white;
                border: none;
                cursor: pointer;
                padding: 0.75rem 1.5rem;
                font-size: 2rem;
                border-radius: 10px;
            }
        }
    }
    section.contact {
        flex: 1 1 500px;
        div.contact {
            height: 60%;
            width: 60%;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            h1 {
                font-size: 2rem;
                text-align: center;
            }
            h2 {
                border-bottom: 2px solid;
            }
        }
    }
}

footer.index,
footer.resume,
footer.contact {
    opacity: 0.5;
    position: fixed;
    bottom: 0;
    right: 0;
    filter: brightness(0.5);
    transform: scale(0.8);
    a {
        padding: 1rem;
        &:hover {
            filter: brightness(1.2);
            margin: 0rem 1rem;
            transition: all 0.8s ease;
        }
    }
}

.active {
    color: #fff9ec;
}

@media screen and (max-width: 1100px) {
    /*section.left&right 500px + 600px = 1100px*/
    body.index {
        overflow: visible;
    }

    .orange {
        display: none;
    }

    header {
        nav {
            ul {
                flex-direction: column;
                width: 100%; /*因原本設定為70%，螢幕縮小後不好看*/
                li {
                    padding: 1rem 0rem;
                    border-bottom: 2px solid gray;
                }
            }
        }
    }
    main {
        section.left {
            width: 100%;
        }
        section.right {
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 1rem;
            img {
                position: static;
                transform: none;
                width: 50vw;
                height: 65vw;
            }
        }
        section.picture {
            display: flex;
            justify-content: center;
            align-items: center;
            img {
                height: 40vh;
                width: 60vw;
            }
            div.orangeRect {
                display: none;
            }
        }
        section.form {
            form {
                div {
                    width: 90%;
                    label {
                        text-align: center;
                    }
                }
                button {
                    transform: scale(0.75);
                }
            }
        }

        section.contact {
            div.contact {
                width: 100%;
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                margin-top: 5rem;
                h1 {
                    font-size: 2.5rem;
                    text-align: center;
                }
                h2 {
                    border-bottom: 2px solid;
                }
            }
        }
    }

    footer.index,
    footer.resume,
    footer.contact {
        opacity: 1;
        position: static;
        transform: scale(0.75);
        display: flex;
        justify-content: center;

        a {
            padding: 0rem;
        }
    }
    .active {
        border-bottom: none;
    }
}
