@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Noto Sans TC", sans-serif;
}

body.index {
  height: 100%;
  width: 100%;
  overflow: hidden;
  position: relative;
}

.orange {
  height: 150vh;
  width: 55vw;
  top: -15vh;
  right: -5vw;
  position: absolute;
  z-index: -1;
  -webkit-filter: grayscale(1);
          filter: grayscale(1);
}

header nav {
  height: 15%;
  width: 100%;
  background-color: #7ea098;
}

header nav ul {
  width: 90%;
  padding: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  list-style-type: none;
}

header nav ul li {
  font-size: 1.75rem;
}

header nav ul li a {
  color: rgba(0, 0, 0, 0.8);
  text-decoration: none;
}

header nav ul li :hover {
  color: #fff9ec;
  margin: 0rem 1rem;
  -webkit-transition: all 0.8s ease;
  transition: all 0.8s ease;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

main section.left {
  width: 50%;
  padding: 3rem;
}

main section.left h1 {
  font-size: 4rem;
  color: #2f4858e3;
}

main section.left p {
  padding: 1rem 1rem;
  font-size: 1.5rem;
}

main section.right {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 600px;
          flex: 1 1 600px;
  position: relative;
}

main section.right img {
  height: 26vw;
  width: 22vw;
  top: 50vh;
  right: 20vw;
  position: absolute;
  border-radius: 50%;
  -webkit-transform: translateY(-55%);
          transform: translateY(-55%);
}

main section.table {
  -webkit-box-flex: 3;
      -ms-flex: 3 1 700px;
          flex: 3 1 700px;
  padding: 2rem;
}

main section.table table {
  border-collapse: collapse;
}

main section.table table tr {
  border-bottom: 2px solid gray;
  -webkit-transition: all 0.2 ease;
  transition: all 0.2 ease;
}

main section.table table tr td {
  padding: 1rem;
}

main section.table table tr td a:hover {
  margin-left: 1rem;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}

main section.table table tr td ul li {
  list-style-type: none;
}

main section.table table tr:hover {
  background-color: #eedebb;
}

main section.picture {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 600px;
          flex: 1 1 600px;
  padding-left: 2rem;
  margin: 2.2rem;
  position: relative;
}

main section.picture img {
  height: 80vh;
  width: 29vw;
}

main section.picture div.orangeRect {
  height: 80vh;
  width: 29vw;
  position: absolute;
  top: 35px;
  left: 90px;
  background-color: #baaa87;
  z-index: -1;
}

main section.form {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 600px;
          flex: 1 1 600px;
}

main section.form form {
  min-height: 70vh;
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main section.form form div {
  width: 80%;
  margin: 0.5rem;
}

main section.form form div label {
  font-size: 1.5rem;
  margin-right: 1rem;
}

main section.form form div input,
main section.form form div textarea {
  width: 80%;
  background-color: #d2c4a4;
  color: white;
  font-size: 1.25rem;
  padding: 0.5rem 0.25rem;
  border: none;
}

main section.form form div textarea {
  vertical-align: top;
  /*需求字 移上去*/
}

main section.form form button {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  background-color: #9a8f77;
  color: white;
  border: none;
  cursor: pointer;
  padding: 0.75rem 1.5rem;
  font-size: 2rem;
  border-radius: 10px;
}

main section.contact {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 500px;
          flex: 1 1 500px;
}

main section.contact div.contact {
  height: 60%;
  width: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

main section.contact div.contact h1 {
  font-size: 2rem;
  text-align: center;
}

main section.contact div.contact h2 {
  border-bottom: 2px solid;
}

footer.index {
  -webkit-animation: flutter alternate 1s ease;
          animation: flutter alternate 1s ease;
  -webkit-animation-iteration-count: 2;
          animation-iteration-count: 2;
}

footer {
  opacity: 0.5;
  position: fixed;
  bottom: 0;
  right: 0;
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
  -webkit-filter: brightness(0.5);
          filter: brightness(0.5);
}

footer a {
  padding: 1rem;
}

footer a:hover {
  margin: 0rem 1rem;
  -webkit-transition: all 0.8s ease;
  transition: all 0.8s ease;
}

.active {
  color: #fff9ec;
}

@media screen and (max-width: 1100px) {
  /*section.left&right 500px + 600px = 1100px*/
  body.index {
    overflow: visible;
  }
  .orange {
    display: none;
  }
  header nav ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    /*因原本設定為70%，螢幕縮小後不好看*/
  }
  header nav ul li {
    padding: 1rem 0rem;
    border-bottom: 2px solid gray;
  }
  main section.left {
    width: 100%;
  }
  main section.right {
    margin: 1rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  main section.right img {
    height: 65vw;
    width: 50vw;
    position: static;
    -webkit-transform: none;
            transform: none;
  }
  main section.picture {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  main section.picture img {
    height: 40vh;
    width: 60vw;
  }
  main section.picture div.orangeRect {
    display: none;
  }
  main section.form form div {
    width: 90%;
  }
  main section.form form div label {
    text-align: center;
  }
  main section.form form button {
    -webkit-transform: scale(0.75);
            transform: scale(0.75);
  }
  main section.contact div.contact {
    width: 100%;
    margin-top: 5rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  main section.contact div.contact h1 {
    font-size: 2.5rem;
    text-align: center;
  }
  main section.contact div.contact h2 {
    border-bottom: 2px solid;
  }
  footer.index,
  footer.resume,
  footer.contact {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    position: static;
    -webkit-transform: scale(0.75);
            transform: scale(0.75);
    opacity: 1;
  }
  footer.index a,
  footer.resume a,
  footer.contact a {
    padding: 0rem;
  }
  .active {
    border-bottom: none;
  }
}

@-webkit-keyframes flutter {
  from {
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
  }
  to {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes flutter {
  from {
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
  }
  to {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
/*# sourceMappingURL=style.css.map */